.todo-app {
  width: 400px;
  margin: auto;
  padding: 16px;
  background-color: #eee;
}

.todo-search {
  margin-bottom: 16px;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 16px 0;
  box-sizing: border-box;
  transition: all .3s ease;
}

.todo-item__created-time {
  color: #aaa;
}

input[type='checkbox'] {
  margin: 0;
  margin-right: 16px;
}

.todo-item--completed {
  text-decoration: line-through;
  color: #aaa;
}

input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 4px 8px;
  height: 40px;
  transition: all .3s ease;
}

.todo__show-completed-label {
  font-weight: 600;
}

button {
  width: 100%;
  padding: 8px 0;
  transition: all .3s ease;
  height: 40px;
  border: none;
  background: rgb(0,191,255);
  background: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(0,134,255,1) 100%);
  color: #fff;
}